@model ProjetoDW.Models.Cartas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cartas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Topico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Topico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEnvio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEnvio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UtilizadoresEFk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UtilizadoresEFk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UtilizadoresDFk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UtilizadoresDFk)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
