@model IEnumerable<ProjetoDW.Models.Cartas>

@{
    ViewData["Title"] = "Index";
}

<h1>Bem vindo</h1>

<div>
    <img src="recursos/imagens_geral/lupa.png" width="20px"/>
    <input type="text"/>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEnvio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UtilizadorRemetenteFk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UtilizadorDestinatarioFk)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEnvio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UtilizadorRemetente.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UtilizadorDestinatario.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
