@model IEnumerable<ProjetoDW.Models.Categorias>

@{
    ViewData["Title"] = "Index";
}

<h1>Categorias</h1>


<table class="table">
    <form asp-action="Index" method="get" class="mb-3">
        <div style="display:flex;">
            <button type="submit" style="border: none; background: none; padding: 0;">
                <img src="/recursos/imagens_geral/lupa.png"
                     style="width: 40px; height: 40px; cursor:pointer; margin-right: 10px;" />
            </button>
            <input type="text" name="searchString" class="form-control" placeholder="Pesquise pelo nome da sua Categoria..." style="width: 50%" />
        </div>
    </form>
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @(item.Tipo ? "Sim" : "Não")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>