@model IEnumerable<ProjetoDW.Models.UtilizadoresD>

@{
    ViewData["Title"] = "Index";
}
<style>
    .perfil-container {
        position: relative;
        width: 120px; /* ou o tamanho que quiseres */
        height: 120px;
    }

    .foto-perfil {
        width: 68%;
        height: 68%;
        border-radius: 50%;
        object-fit: cover;
        position: absolute;
        top: 15%;
        left: 15%;
        z-index: 1;
    }

    .moldura-frame {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        pointer-events: none; /* deixa clicar na imagem de baixo */
    }

</style>

<h1>UtilizadoresD</h1>

<p>
    <a asp-action="Create">Create New</a>
    <div class="perfil-container">
        <img src="./recursos/imagens_user/Designer.png" alt="Foto de Perfil" class="foto-perfil">
        <img src="./recursos/imagens_geral/user_frame.png" alt="Moldura" class="moldura-frame">
    </div>
</p>
<div class="container">
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imagem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telemovel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NIF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telemovel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NIF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
</div>
